## Limpieza de 2017PurchasePricesDec.csv

In [4]:
import pandas as pd
import numpy as np

In [5]:
import os
os.listdir()

['2017PurchasePricesDec.csv',
 'BegInvFINAL12312016.csv',
 'EndInvFINAL12312016.csv',
 'InvoicePurchases12312016.csv',
 'limpieza2017purchase.ipynb',
 'PurchasesFINAL12312016.csv',
 'SalesFINAL12312016.csv']

In [7]:
path = "2017PurchasePricesDec.csv"
df = pd.read_csv(path)

df.head()

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12260 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12260 non-null  object
 4   Volume          12260 non-null  object
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(2), int64(3), object(4)
memory usage: 862.2+ KB

In [9]:
df.isna().sum()

Brand             0
Description       1
Price             0
Size              1
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)

In [11]:
df.duplicated(subset=["Brand","VendorNumber"]).sum()

np.int64(0)

In [12]:
df["Volume"].unique()[:10]

array(['750', '1000', '1750', '50', '375', '100', '200', '300', 'Unknown',
       '250'], dtype=object)

In [13]:
df["Description"] = df["Description"].fillna("Unknown")
df["Size"] = df["Size"].fillna("Unknown")

In [14]:
df.isna().sum()

Brand             0
Description       0
Price             0
Size              0
Volume            1
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [15]:
df["Volume"] = pd.to_numeric(df["Volume"],errors="coerce")

In [16]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Brand           12261 non-null  int64
 1   Description     12261 non-null  object
 2   Price           12261 non-null  float64
 3   Size            12261 non-null  object
 4   Volume          12256 non-null  float64
 5   Classification  12261 non-null  int64
 6   PurchasePrice   12261 non-null  float64
 7   VendorNumber    12261 non-null  int64
 8   VendorName      12261 non-null  object
dtypes: float64(3), int64(3), object(3)
memory usage: 862.2+ KB

Brand             0
Description       0
Price             0
Size              0
Volume            5
Classification    0
PurchasePrice     0
VendorNumber      0
VendorName        0
dtype: int64

In [17]:
df[df["Volume"].isna()][["Size", "Volume"]]

          Size  Volume
542    Unknown     NaN
5921   Unknown     NaN
7915   Unknown     NaN
8795   Unknown     NaN
10009  Unknown     NaN

In [18]:
df = df[[
    "Brand",
    "Description",
    "Price",
    "Size",
    "Volume",
    "Classification",
    "PurchasePrice",
    "VendorNumber",
    "VendorName"
]]

## Conclusiones del proceso de limpieza

Se realizó una verificación de los tipos de datos (dtypes) de cada columna y un análisis de valores nulos para evaluar la calidad del dataset.

Durante el proceso se detectaron 5 valores nulos en la columna Volume, los cuales no pudieron ser inferidos a partir de otras columnas (ya que Size figura como “Unknown” en esos casos). Dado que estos registros representan un porcentaje mínimo del total del dataset, se decidió mantenerlos como NaN para evitar introducir sesgo o valores arbitrarios.

Finalmente, se normalizaron los tipos de datos y se ordenaron las columnas para facilitar la lectura y dejar el archivo listo para etapas posteriores de análisis y carga en BigQuery.

In [20]:
import os

os.makedirs("data/processed",exist_ok=True)

In [21]:
df.to_csv("data/processed/2017PurchasePricesDec_clean.csv", index=False)