In [16]:
import pandas as pd

# Cargar archivo
sales = pd.read_csv("SalesFINAL12312016.csv")

In [2]:
#veo tipos de datos de las columnas
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 14 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   InventoryId     1048575 non-null  object
 1   Store           1048575 non-null  int64
 2   Brand           1048575 non-null  int64
 3   Description     1048575 non-null  object
 4   Size            1048575 non-null  object
 5   SalesQuantity   1048575 non-null  int64
 6   SalesDollars    1048575 non-null  float64
 7   SalesPrice      1048575 non-null  float64
 8   SalesDate       1048575 non-null  object
 9   Volume          1048575 non-null  int64
 10  Classification  1048575 non-null  int64
 11  ExciseTax       1048575 non-null  float64
 12  VendorNo        1048575 non-null  int64
 13  VendorName      1048575 non-null  object
dtypes: float64(3), int64(6), object(5)
memory usage: 112.0+ MB

In [ ]:
#modifico columna de object a fechas
sales["SalesDate"] = pd.to_datetime(sales["SalesDate"])
sales.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
SalesQuantity              int64
SalesDollars             float64
SalesPrice               float64
SalesDate         datetime64[ns]
Volume                     int64
Classification             int64
ExciseTax                float64
VendorNo                   int64
VendorName                object
dtype: object

In [6]:
#Verifico si hay nulos en las columnas
sales.isnull().sum().sort_values(ascending=False)

#Verifico si hay duplicados en las columnas
sales.duplicated().sum()

np.int64(0)

In [7]:
#Por las dudas elimino espacios en blanco que puedan haber antes o despues de la cadena de texto
cols_str = ["InventoryId", "Description", "Size", "VendorName"]
for col in cols_str:
    sales[col] = sales[col].str.strip()

#Chequeo para ver que no hayan espacios en blanco
for col in ["InventoryId", "Description", "Size", "VendorName"]:
    print(
        col,
        sales[col].str.startswith(" ").sum(),
        sales[col].str.endswith(" ").sum()
    )

InventoryId 0 0
Description 0 0
Size 0 0
VendorName 0 0

In [17]:
sales.to_csv("SalesFINAL12312016_clean.csv", index=False)