    0. IMPORTAR LIBRERÍAS

In [9]:

import pandas as pd

ruta_archivo = r"G:/Mi unidad/Soy Henry/Proyecto Final/Proyecto final/Datasets/EndInvFINAL12312016.csv"

df_inv = pd.read_csv(ruta_archivo)

    1. OBSERVAR CARACTERÍSTICAS DEL DATASET

In [10]:
#Ver sus dimensiones
df_inv.shape

(224489, 9)

In [11]:
#Ver el nombre de sus columnas
df_inv.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [12]:
#Ver el dataset
df_inv

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31
...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2016-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2016-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2016-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2016-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2016-12-31

In [15]:
#Ver tipo de datos y datos no nulos
df_inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 15.4+ MB

In [17]:
#Ver datos nulos por columna

# 1. Calcular la cantidad de nulos por columna
nulos_cantidad = df_inv.isnull().sum()

# 2. Calcular el porcentaje (para entender la gravedad)
nulos_porcentaje = (df_inv.isnull().mean() * 100).round(2)

# 3. Crear un DataFrame
df_nulos = pd.DataFrame({
    "Cantidad Nulos": nulos_cantidad,
    "Porcentaje (%)": nulos_porcentaje
})

# 4. Filtrar para ver SOLO las columnas que tienen algún nulo (ordenadas de mayor a menor)
df_nulos_filtrado = df_nulos[df_nulos["Cantidad Nulos"] > 0].sort_values("Porcentaje (%)", ascending=False)

print("--- REPORTE DE VALORES FALTANTES ---")
display(df_nulos_filtrado)

--- REPORTE DE VALORES FALTANTES ---

      Cantidad Nulos  Porcentaje (%)
City            1284            0.57

In [19]:
df_inv.describe()

,Store,Brand,onHand,Price,endDate
count,224489.000000,224489.000000,224489.000000,224489.000000,224489
mean,43.505740,14356.370513,21.763988,23.585583,2016-12-31 00:00:00
min,1.000000,58.000000,0.000000,0.490000,2016-12-31 00:00:00
25%,23.000000,3798.000000,7.000000,9.990000,2016-12-31 00:00:00
50%,44.000000,8259.000000,12.000000,14.990000,2016-12-31 00:00:00
75%,66.000000,23965.000000,22.000000,23.490000,2016-12-31 00:00:00
max,81.000000,90631.000000,3676.000000,13999.900000,2016-12-31 00:00:00
std,23.326415,13118.467851,37.233576,79.202775,NaN

    2. LIMPIEZA Y TRANSFORMACIÓN DE DATOS

        2.1. CAMBIAR TIPOS DE DATOS

In [ ]:
#Convertir tipo de dato de endDate a Datatime
df_inv['endDate'] = pd.to_datetime(df_inv['endDate'])

In [20]:
df_inv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224489 entries, 0 to 224488
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InventoryId  224489 non-null  object
 1   Store        224489 non-null  int64
 2   City         223205 non-null  object
 3   Brand        224489 non-null  int64
 4   Description  224489 non-null  object
 5   Size         224489 non-null  object
 6   onHand       224489 non-null  int64
 7   Price        224489 non-null  float64
 8   endDate      224489 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(3), object(4)
memory usage: 15.4+ MB

        2.2. REEMPLAZO DE NULOS

In [21]:
# Crear un diccionario con la relacion Tienda -> Ciudad
# Usar solo las filas que si tienen ciudad
mapa_ciudades = df_inv.dropna(subset=['City']).set_index('Store')['City'].to_dict()

# Rellenar los valores nulos en City usando el mapa creado
df_inv['City'] = df_inv['City'].fillna(df_inv['Store'].map(mapa_ciudades))

# Verificar que ya no quedan valores nulos
print("Valores nulos restantes en City:", df_inv['City'].isnull().sum())

Valores nulos restantes en City: 1284

In [24]:

# 1. Cargar ambos archivos (el Inicial tiene las respuestas que le faltan al Final)

ruta_archivo2 = r"G:/Mi unidad/Soy Henry/Proyecto Final/Proyecto final/Datasets/BegInvFINAL12312016.csv"
df_beg = pd.read_csv(ruta_archivo2) # Asegúrate de tener este archivo en la carpeta

# 2. Crear el "Mapa Maestro" de Ciudades usando AMBOS archivos
# Primero sacamos las ciudades del Inv Inicial
mapa_inicial = df_beg.set_index('Store')['City'].to_dict()
# Luego las del Inv Final (por si hubo tiendas nuevas)
mapa_final = df_inv.dropna(subset=['City']).set_index('Store')['City'].to_dict()

# Fusionamos los mapas (el final tiene prioridad, el inicial rellena huecos)
mapa_maestro = {**mapa_inicial, **mapa_final}

# 3. Rellenar ahora sí
df_inv['City'] = df_inv['City'].fillna(df_inv['Store'].map(mapa_maestro))

# 4. Verificar
nulos_restantes = df_inv['City'].isnull().sum()
print(f"Valores nulos: {nulos_restantes}")

# Si todavía queda alguno (ej. Tienda 46 tampoco estaba en BegInv), avísanos:
if nulos_restantes > 0:
    print("¡Alerta! Las siguientes tiendas no aparecen en ninguno de los dos archivos:")
    print(df_inv[df_inv['City'].isnull()]['Store'].unique())

Valores nulos: 0

    3. EXPORTAR ARCHIVO CLEAN

In [27]:
# Definir la ruta completa del archivo de salida
ruta_archivo_clean= r"G:/Mi unidad/Soy Henry/Proyecto Final/Proyecto final/Datasets//Processed/EndInvFINAL12312016_clean.csv"

# Exportar el dataframe a la ruta especificada
# Usar index=False para evitar guardar el índice numérico
df_inv.to_csv(ruta_archivo_clean, index=False)

print("Archivo exportado exitosamente en la ruta indicada.")

Archivo exportado exitosamente en la ruta indicada.

    4. CONCLUSIONES
        Se ha cargado el dataset, observando sus características a través de diferentes métodos.
        Se han cambiado los tipos de datos necesarios según el análisis de las columnas.
        Se han tratado los nulos correspondientes de la columna City, obteniendo la información para su reemplazo del Dataset de Inventario Inicial.