In [1]:
import pandas as pd

# Cargar archivo
purchases = pd.read_csv("PurchasesFINAL12312016.csv")

In [2]:
#veo tipos de datos de las columnas
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2372474 entries, 0 to 2372473
Data columns (total 16 columns):
 #   Column          Dtype
---  ------          -----
 0   InventoryId     object
 1   Store           int64
 2   Brand           int64
 3   Description     object
 4   Size            object
 5   VendorNumber    int64
 6   VendorName      object
 7   PONumber        int64
 8   PODate          object
 9   ReceivingDate   object
 10  InvoiceDate     object
 11  PayDate         object
 12  PurchasePrice   float64
 13  Quantity        int64
 14  Dollars         float64
 15  Classification  int64
dtypes: float64(2), int64(6), object(8)
memory usage: 289.6+ MB

In [3]:
#modifico columnas de object a fechas (PODate, ReceivingDate, InvoiceDate, PayDate)
purchases["PODate"] = pd.to_datetime(purchases["PODate"])
purchases["ReceivingDate"] = pd.to_datetime(purchases["ReceivingDate"])
purchases["InvoiceDate"] = pd.to_datetime(purchases["InvoiceDate"])
purchases["PayDate"] = pd.to_datetime(purchases["PayDate"])

purchases.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
VendorNumber               int64
VendorName                object
PONumber                   int64
PODate            datetime64[ns]
ReceivingDate     datetime64[ns]
InvoiceDate       datetime64[ns]
PayDate           datetime64[ns]
PurchasePrice            float64
Quantity                   int64
Dollars                  float64
Classification             int64
dtype: object

In [4]:
#Verifico datos vacios en columnas
purchases.isnull().sum().sort_values(ascending=False)

Size              3
InventoryId       0
Brand             0
Store             0
Description       0
VendorNumber      0
VendorName        0
PONumber          0
PODate            0
ReceivingDate     0
InvoiceDate       0
PayDate           0
PurchasePrice     0
Quantity          0
Dollars           0
Classification    0
dtype: int64

In [5]:
#Reemplazo los valores faltantes por desconocido ya que no hay forma de saber el volumen de 
#dichos productos
purchases["Size"] = purchases["Size"].fillna("NaN")

In [6]:
#Verifico que no hayan valores duplicados
purchases.duplicated().sum()
#No se encuentra ninguno

np.int64(0)

In [7]:
#Por las dudas elimino espacios en blanco que puedan haber antes o despues de la cadena de texto
cols_str = ["InventoryId", "Description", "Size", "VendorName"]
for col in cols_str:
    purchases[col] = purchases[col].str.strip()

#Chequeo para ver que no hayan espacios en blanco
for col in cols_str:
    print(col, purchases[col].str.match(r"^\s|\s$").sum())

InventoryId 0
Description 0
Size 0
VendorName 0

In [8]:
#Verifico que la columna Size este toda igual escrita y no hayan duplicados tipo 750ml/750mL
purchases["Size"].value_counts().head(10)

Size
750mL         1207700
1.75L          593298
1.5L           229841
50mL            73333
375mL           70385
3L              55911
5L              53490
Liter           47520
187mL 4 Pk      12604
4L               6138
Name: count, dtype: int64

In [9]:
purchases[
    (purchases["PurchasePrice"] <= 0) |
    (purchases["Quantity"] <= 0) |
    (purchases["Dollars"] <= 0)
]

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
1369009,59_CLAETHORPES_2166,59,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-10,2016-08-22,2016-10-01,0.0,12,0.0,1
1369018,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-11,2016-08-22,2016-10-01,0.0,12,0.0,1
1369031,34_PITMERDEN_2166,34,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1
1369032,44_PORTHCRAWL_2166,44,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-08,2016-08-22,2016-10-01,0.0,12,0.0,1
1369033,56_BEGGAR'S HOLE_2166,56,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,11462,2016-08-02,2016-08-09,2016-08-22,2016-10-01,0.0,12,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2278896,39_EASTHALLOW_2166,39,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1
2278909,38_GOULCREST_2166,38,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-20,2016-12-28,2017-02-03,0.0,10,0.0,1
2278922,9_BLACKPOOL_2166,9,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1
2278954,20_BREDWARDINE_2166,20,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1
2278958,31_HORNSEY_2166,31,2166,The Macallan Double Cask 12,750mL,2561,EDRINGTON AMERICAS,13506,2016-12-14,2016-12-19,2016-12-28,2017-02-03,0.0,12,0.0,1

In [ ]:
#elimino el producto con precio de compra igual a 0 ya que no figura en otra tabla
purchases = purchases[purchases["Description"] != "The Macallan Double Cask 12"]

In [12]:
purchases.to_csv("PurchasesFINAL12312016_clean.csv", index=False)